// Grid settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #157E72;
$soft-black:            #232b2b;
$circle-1-color:        #159958;
$circle-2-color:        #158F61;
$circle-3-color:        #157E72;
$circle-4-color:        #15727E;
$circle-5-color:        #156987;
$circle-6-color:        #155F91;
$circle-7-color:        #2C68A1;
